<h3> HT-Step Benchmark: Temporal Article Grounding. </h3>


<h4>Task</h4>
<p>
Given an instructional article, consisting of a sequence of step descriptions, and a video demonstrating an activity,
temporal article grounding refers to detecting the temporal segments in the video where these steps appear.
</p>

<h4>Dataset</h4>
<p>
The HT-Step benchmark is a collection of temporal
annotations on videos from the <a href="https://www.di.ens.fr/willow/research/howto100m/">HowTo100M dataset</a>.
The annotations are a sequence of steps taken from a WikiHow article.
Each step consists of a headline sentence and a paragraph describing the step in more detail.
Some steps of the article may not appear at all, appear partially, be executed
 in different order, or be repeated multiple times.
</p>

<h4>Test server</h4>
<p>
Submission guidelines for evaluating on the HT-Step test set can be found under the Submit tab.
</p>
