<h2>Test Server Input Guidelines</h2>
<h3>Input</h3>
<p>
  We provide a list of candidate step ids for all the videos in the dataset 
   <a href="https://github.com/facebookresearch/htstep/blob/main/data/video_candidate_steps.json">here</a>.
  The video IDs correspond to the original YouTube IDs used in HowTo100M.
  The step ids point to entries in the 
  <a href="https://github.com/facebookresearch/htstep/blob/main/data/video_candidate_steps.json">step taxonomy</a>,
   where the 'step_headline' and 'step_paragraph' for each one are listedn, and which can be used to ground the steps in the video.
   Note: All the steps are not necessary groundable in the video and the ground truth annotations might not include segments with all of them.
   However it is guaranteed that the ground truth file only contains only steps from this list for every video. 
  Therefore, the evaluation script ignores any predictions for steps that are not included in the video's candidate step list.  
</p>
<h3>Example Expected JSON</h3>
<p>
  The test server expects a csv file containing one entry for every predicted step detection. 
  The expected values that every prediction entry should have are:
  <ul>
    <li>  <b>video-id</b>:  Video identifier (original YouTube IDs)     </li>
    <li>  <b>t-start</b>:   Start timestamp of the segment in seconds   </li>
    <li>  <b>t-end</b>:     End timestamp of the segment in seconds     </li>
    <li>  <b></b>label</b>: The step id                                 </li>
    <li>  <b></b>score</b>: A confidence score for the prediction      </li>
  </ul>
</p>


<p>
Example submission.csv:

<pre>
  video-id,t-start,t-end,label,score
  ---0tKA3iYI,392.21793,432.57596,944,0.4769538
  ---0tKA3iYI,627.96606,632.911,946,0.42822412
  ---0tKA3iYI,621.6395,626.98517,945,0.3877319
  ---0tKA3iYI,601.0815,631.44446,944,0.37311503
  ---0tKA3iYI,423.2551,432.52585,944,0.3729765
  zzOehMK9AnA,245.35982,338.58514,2323,0.43256226
  zzOehMK9AnA,242.08182,340.9041,2313,0.41332325
  zzOehMK9AnA,182.38895,230.25858,2312,0.33553523
  zzOehMK9AnA,235.53831,240.30016,2313,0.32092258
  zzOehMK9AnA,235.53831,240.30016,2318,0.3127853
</pre>

</p>
<p>In this example, there are 10 segment predictions in total, 5 for video 
  with id '---0tKA3iYI' and 5 for video with id "zzOehMK9AnA".</p>